* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --verde: rgb(11, 180, 11);
    --verde-deschis: rgb(16, 240, 16);
    --mov: rgb(181, 23, 224);
    --alb-lapticios: #FBF8F5;
}

.top-bar {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background-color: var(--verde);

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    color: white;

}

.navbar {
    width: 100%;
    height: 100%;
    color: var(--verde-deschis);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 5px;
    background-color: white;
    gap: 18px;
    border-bottom: 1px solid white;
    background-color: var(--alb-lapticios);


}

.navbar li {
    border-bottom: 1px solid var(--verde);
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


nav ul ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    transition: 0.5s;
    visibility: hidden;
    background-color: white;
    border: 1px solid var(--verde);
    gap: 10px;
}

.Logo a {
    color: var(--verde);
}

.Logo a:hover {
    color: var(--verde-deschis);
}

.nav li {
    display: inline;
    padding-right: 20px;
    font-size: large;
}

.nav li a {
    color: var(--verde);
    transition: 0.3s;

}

.nav li a:hover {
    color: var(--verde-deschis);
    transition: 0.3s;
}

.searchbar input:first-of-type {
    font-size: 15px;
}

.searchbar input:last-of-type {
    background-color: var(--verde);
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 40px;
    border: 1px solid seagreen;
    transition: 1s;
}


.searchbar input:nth-child(2):hover {
    cursor: pointer;
    background-color: var(--verde-deschis);
    color: white;
    transition: 0.3s;
}

::placeholder:first-of-type {
    color: var(--verde);
}

svg {
    height: 30px;
    width: 30px;
    margin: 10px 0px;
}

.cont form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cont {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login,
.register {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    background-color: rgba(230, 228, 228, 0.908);
}

.cont h1 {
    color: #315B42;
    font-size: 40px;
    margin-top: 40px;
}

.cont input {
    font-size: 30px;
    margin: 5px 20px;
    background-color: lightgray;
    border: 1px solid transparent;
    border-radius: 12px;
}

.cont input[type=submit] {
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: #315B42;
    color: white;
    margin-bottom: 20px;
}

.cont input[type=submit]:hover {
    cursor: pointer;
    background-color: #365f46;
}

.cont label {
    margin: 10px 10px;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    height: 300px;
    width: 100%;
    background-color: #316f4a;
    margin-top: 150px;
}

@media screen and (min-width:830px) {

    .top-bar {
        padding-bottom: 15px;
    }

    .contact {
        flex-direction: row;
    }

    .navbar {
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;


    }

    .navbar ul li {
        border: none;
        margin-bottom: 0px;

    }

    .navbar ul {
        flex-direction: row;
    }

    .svg {
        margin: 0px 0px;
    }

    .cont {
        flex-direction: row;

        gap: 200px;
    }


}